<form action='/user/authorization' method="POST">
    <label for="user">Вход</label>
    <label>
        <p>Адрес электронной почты</p>
        <input name="email" placeholder="Email">
    </label>
    <label>
        <p>Пароль</p>
        <input name="password" placeholder="Пароль">
    </label>
    <p>
        <input type=submit value="Войти">
    </p>
</form>
