<form action='/user/add' method="POST">
    <label for="user">Введите данные для регистрации</label>
    <label>
        <p>Имя</p>
        <input name="firstName" placeholder="Имя">
    </label>
    <label>
        <p>Фамилия</p>
        <input name="lastName" placeholder="Фамилия">
    </label>
    <label>
        <p>Адрес электронной почты</p>
        <input name="email" placeholder="Email">
    </label>
    <label>
        <p>Пароль</p>
        <input name="password" placeholder="Пароль">
    </label>
    <p>
        <input type=submit value="Отправить данные для регистрации">
    </p>
</form>
